{{- if .Values.queryScheduler.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "clp-package.fullname" . }}-query-scheduler
  labels:
    {{- include "clp-package.labels" . | nindent 4 }}
    app.kubernetes.io/component: query-scheduler
spec:
  replicas: {{ .Values.queryScheduler.replicaCount }}
  selector:
    matchLabels:
      {{- include "clp-package.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: query-scheduler
  template:
    metadata:
      labels:
        {{- include "clp-package.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: query-scheduler
    spec:
      serviceAccountName: {{ include "clp-package.serviceAccountName" . }}
      securityContext:
        {{- include "clp-package.firstPartySecurityContext" . | nindent 8 }}
      terminationGracePeriodSeconds: {{ .Values.queryScheduler.terminationGracePeriodSeconds }}
      containers:
      - name: query-scheduler
        image: {{ include "clp-package.image" . }}
        imagePullPolicy: {{ include "clp-package.imagePullPolicy" . }}
        command:
        - python3
        - -u
        - -m
        - job_orchestration.scheduler.query.query_scheduler
        - --config
        - /etc/clp-config.yml
        ports:
        - name: http
          containerPort: 7000
          protocol: TCP
        env:
        - name: BROKER_URL
          value: "amqp://$(CLP_QUEUE_USER):$(CLP_QUEUE_PASS)@{{ include "clp-package.queueHost" . }}:{{ .Values.queue.service.port }}"
        - name: CLP_QUEUE_USER
          valueFrom:
            secretKeyRef:
              name: {{ include "clp-package.fullname" . }}-secrets
              key: queue-username
        - name: CLP_QUEUE_PASS
          valueFrom:
            secretKeyRef:
              name: {{ include "clp-package.fullname" . }}-secrets
              key: queue-password
        - name: CLP_DB_USER
          valueFrom:
            secretKeyRef:
              name: {{ include "clp-package.fullname" . }}-secrets
              key: db-username
        - name: CLP_DB_PASS
          valueFrom:
            secretKeyRef:
              name: {{ include "clp-package.fullname" . }}-secrets
              key: db-password
        - name: RESULT_BACKEND
          value: "redis://default:$(CLP_REDIS_PASS)@{{ include "clp-package.redisHost" . }}:{{ .Values.redis.service.port }}/{{ .Values.redis.config.backendDbQuery }}"
        - name: CLP_REDIS_PASS
          valueFrom:
            secretKeyRef:
              name: {{ include "clp-package.fullname" . }}-secrets
              key: redis-password
        - name: CLP_LOGGING_LEVEL
          value: {{ .Values.queryScheduler.logLevel }}
        - name: CLP_LOGS_DIR
          value: /var/log/query_scheduler
        - name: PYTHONPATH
          value: "/opt/clp/lib/python3/site-packages"
        livenessProbe:
          tcpSocket:
            port: 7000
          initialDelaySeconds: 60
          periodSeconds: 30
        readinessProbe:
          tcpSocket:
            port: 7000
          initialDelaySeconds: 10
          periodSeconds: 30
        volumeMounts:
        - name: config
          mountPath: /etc/clp-config.yml
          subPath: clp-config.yml
          readOnly: true
        - name: logs
          mountPath: /var/log
        resources:
          {{- toYaml .Values.queryScheduler.resources | nindent 10 }}
      volumes:
      - name: config
        configMap:
          name: {{ include "clp-package.fullname" . }}-config
      - name: logs
        emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "clp-package.fullname" . }}-query-scheduler
  labels:
    {{- include "clp-package.labels" . | nindent 4 }}
    app.kubernetes.io/component: query-scheduler
spec:
  type: {{ .Values.queryScheduler.service.type }}
  ports:
  - port: {{ .Values.queryScheduler.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  selector:
    {{- include "clp-package.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: query-scheduler
{{- end }}
---
{{- if .Values.queryWorker.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "clp-package.fullname" . }}-query-worker
  labels:
    {{- include "clp-package.labels" . | nindent 4 }}
    app.kubernetes.io/component: query-worker
spec:
  replicas: {{ .Values.queryWorker.replicaCount }}
  selector:
    matchLabels:
      {{- include "clp-package.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: query-worker
  template:
    metadata:
      labels:
        {{- include "clp-package.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: query-worker
    spec:
      serviceAccountName: {{ include "clp-package.serviceAccountName" . }}
      securityContext:
        {{- include "clp-package.firstPartySecurityContext" . | nindent 8 }}
      containers:
      - name: query-worker
        image: {{ include "clp-package.image" . }}
        imagePullPolicy: {{ include "clp-package.imagePullPolicy" . }}
        command:
        - python3
        - -u
        - /opt/clp/lib/python3/site-packages/bin/celery
        - -A
        - job_orchestration.executor.query
        - worker
        - --concurrency
        - "{{ .Values.queryWorker.concurrency }}"
        - --loglevel
        - WARNING
        - -f
        - /var/log/query_worker/worker.log
        - -Q
        - query
        - -n
        - query-worker
        env:
        - name: BROKER_URL
          value: "amqp://$(CLP_QUEUE_USER):$(CLP_QUEUE_PASS)@{{ include "clp-package.queueHost" . }}:{{ .Values.queue.service.port }}"
        - name: CLP_QUEUE_USER
          valueFrom:
            secretKeyRef:
              name: {{ include "clp-package.fullname" . }}-secrets
              key: queue-username
        - name: CLP_QUEUE_PASS
          valueFrom:
            secretKeyRef:
              name: {{ include "clp-package.fullname" . }}-secrets
              key: queue-password
        - name: RESULT_BACKEND
          value: "redis://default:$(CLP_REDIS_PASS)@{{ include "clp-package.redisHost" . }}:{{ .Values.redis.service.port }}/{{ .Values.redis.config.backendDbQuery }}"
        - name: CLP_REDIS_PASS
          valueFrom:
            secretKeyRef:
              name: {{ include "clp-package.fullname" . }}-secrets
              key: redis-password
        - name: CLP_CONFIG_PATH
          value: /etc/clp-config.yml
        - name: CLP_HOME
          value: /opt/clp
        - name: CLP_LOGGING_LEVEL
          value: {{ .Values.queryWorker.logLevel }}
        - name: CLP_LOGS_DIR
          value: /var/log/query_worker
        - name: CLP_WORKER_LOG_PATH
          value: /var/log/query_worker/worker.log
        - name: PYTHONPATH
          value: "/opt/clp/lib/python3/site-packages"
        volumeMounts:
        - name: config
          mountPath: /etc/clp-config.yml
          subPath: clp-config.yml
          readOnly: true
        - name: logs
          mountPath: /var/log
        - name: archives
          mountPath: /var/data/archives
        - name: staged-streams
          mountPath: /var/data/staged-streams
        - name: streams
          mountPath: /var/data/streams
        resources:
          {{- toYaml .Values.queryWorker.resources | nindent 10 }}
      volumes:
      - name: config
        configMap:
          name: {{ include "clp-package.fullname" . }}-config
      - name: logs
        emptyDir: {}
      {{- if and .Values.compressionWorker.enabled .Values.compressionWorker.persistence.archives.enabled }}
      - name: archives
        persistentVolumeClaim:
          claimName: {{ include "clp-package.fullname" . }}-archives
      {{- else }}
      - name: archives
        emptyDir: {}
      {{- end }}
      {{- if .Values.queryWorker.persistence.stagedStreams.enabled }}
      - name: staged-streams
        persistentVolumeClaim:
          claimName: {{ include "clp-package.fullname" . }}-staged-streams
      {{- else }}
      - name: staged-streams
        emptyDir: {}
      {{- end }}
      {{- if and .Values.webui.enabled .Values.webui.persistence.streams.enabled }}
      - name: streams
        persistentVolumeClaim:
          claimName: {{ include "clp-package.fullname" . }}-streams
      {{- else }}
      - name: streams
        emptyDir: {}
      {{- end }}
{{- end }}
---
{{- if .Values.reducer.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "clp-package.fullname" . }}-reducer
  labels:
    {{- include "clp-package.labels" . | nindent 4 }}
    app.kubernetes.io/component: reducer
spec:
  replicas: {{ .Values.reducer.replicaCount }}
  selector:
    matchLabels:
      {{- include "clp-package.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: reducer
  template:
    metadata:
      labels:
        {{- include "clp-package.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: reducer
    spec:
      serviceAccountName: {{ include "clp-package.serviceAccountName" . }}
      securityContext:
        {{- include "clp-package.firstPartySecurityContext" . | nindent 8 }}
      terminationGracePeriodSeconds: {{ .Values.reducer.terminationGracePeriodSeconds }}
      containers:
      - name: reducer
        image: {{ include "clp-package.image" . }}
        imagePullPolicy: {{ include "clp-package.imagePullPolicy" . }}
        command:
        - python3
        - -u
        - -m
        - job_orchestration.reducer.reducer
        - --config
        - /etc/clp-config.yml
        - --concurrency
        - "{{ .Values.reducer.concurrency }}"
        - --upsert-interval
        - "{{ .Values.reducer.upsertInterval }}"
        env:
        - name: CLP_HOME
          value: /opt/clp
        - name: CLP_LOGGING_LEVEL
          value: {{ .Values.reducer.logLevel }}
        - name: CLP_LOGS_DIR
          value: /var/log/reducer
        - name: PYTHONPATH
          value: "/opt/clp/lib/python3/site-packages"
        volumeMounts:
        - name: config
          mountPath: /etc/clp-config.yml
          subPath: clp-config.yml
          readOnly: true
        - name: logs
          mountPath: /var/log
        resources:
          {{- toYaml .Values.reducer.resources | nindent 10 }}
      volumes:
      - name: config
        configMap:
          name: {{ include "clp-package.fullname" . }}-config
      - name: logs
        emptyDir: {}
{{- end }}
